@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.upper-banner-wrapper {
    color: #fff;
    width: 100%;
    margin: 0;
    // width: 100%;
    // display: flex;
    position: relative;

    .upper-banner {
        height: 550px;
        // width: 33.33%;
        display: flex;

        .details-wrapper {
            position: absolute;
            bottom: 15px;
            width: 400px;
            padding-left: 30px;

            .upper-banner-style-type {
                // background-color: #dd4c39;
                margin-right: 10px;
                padding: 5px;
                border-radius: 5px;
            }

            .views {
                .eye-icon {
                    padding: 0 10px 0;
                }
            }

            .description {
                font-size: 18px;
                margin: 20px 0 10px;
            }
        }
    }
}

// ----------Main Section----------------
.main-page-wrapper {
    margin: 20px 0 20px;
}

.main-section {
    // background-color: #f5f5f5;
    background: #ccc;
}

// --------------Style & Life Cycle Section Division--------------

.main-heading-1 {
    color: #8a3ab9 !important;
    font-weight: 600;
}

.top-section-div {
    border-bottom: 4px solid;
    border-image: linear-gradient(270deg, rgba(255,69,69,1) 0%, rgba(0,128,128,1) 100%);
    border-image-slice: 1;
    margin-bottom: 20px;

    .top-section-nav {
        position: absolute;
        right: 0;
        font-size: 14px;
    }

}

.card-description {
    .style-box {
        background-color: #8a3ab9;
        color: #fff;
        padding: 3px 5px 3px 30px;
        border-radius: 2px;
        margin: 0 10px 0 -20px;
    }

    .heading-style {
        margin: 10px 0 10px;
        background: -webkit-linear-gradient(180deg, rgba(238, 156, 255, 1) 0%, rgba(0, 128, 128, 1) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent
    }

    .card-author-details {
        color: #979aa4;
        font-size: 12px;
    }

    .card-text {
        margin: 15px 0 25px;
        word-spacing: 1rem;
        line-height: 1.5;
        font-size: 14px;
    }
}

// --------------------Small Card Styling----------------

.style-hunter-wrapper {
    // display: flex;
    // justify-content: space-between;
    margin-top: 30px;

    .style-box {
        background-color: #dd4c39;
    }
}

// -------------Extra Life Style Division Styling-------------

.main-heading-2 {
    color: #f44f43 !important;
    font-weight: 600;
}

.card-description-2 {
    .style-box {
        background-color: #f44336;
    }

    .heading-style {
        background: -webkit-linear-gradient(180deg, rgba(255, 31, 38, 1) 0%, rgba(0, 128, 128, 1) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

// ---------------------Life Style Small Cards--------------

.life-style-row {
    background-color: #fff;
    margin: 20px 0 20px;
}
.life-style-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    .lifestyle-small-img {
        width: 100px;
        height: 100px;
    }

    .life-desc-wrapper {
        width: 200px;

        .lifestyle-small-desc {
            line-height: 1.5;
            font-size: 12px;
            font-weight: 600;
            padding-bottom: 10px;
        }

        .lifestyle-small-auth {
            color: #979aa4;
            font-size: 10px;
        }
    }
}