@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$white: #fff;
$authorTextColor: #979aa4;
$commonRed: #f44f43;
$commonPurple: #8a3ab9;
$commonBlue: #2737a0;
$offWhite: #f5f5f5;
$boldFontWeight: 600;

@mixin textGradient {
    margin: 10px 0 10px;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin borderGradientStyling {
    border-bottom: 4px solid;
    border-image: linear-gradient(270deg, rgba(255, 69, 69, 1) 0%, rgba(0, 128, 128, 1) 100%);
    border-image-slice: 1;
    margin-bottom: 20px;
}

* {
    box-sizing: border-box;
    // font-family: 'Open Sans', sans-serif;
}

button {
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    background-color: inherit;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

// -------------------Header Styling----------------

.main-heading {
    margin-left: -10px;
}

.navbar-search {
    margin-left: 130px;
}

// -------------------Banner Styling----------------
.upper-banner-wrapper {
    color: $white;
    width: 100%;
    margin: 0;
    position: relative;

    .upper-banner {
        height: 550px;

        .details-wrapper {
            position: absolute;
            bottom: 15px;
            max-width: 400px;
            padding-left: 30px;
            font-size: 14px;

            .upper-banner-style-type {
                margin-right: 10px;
                padding: 5px;
                border-radius: 5px;
            }

            .views {
                .eye-icon {
                    padding: 0 5px 0;
                }
            }

            .description {
                font-size: 18px;
                margin: 20px 0 10px;
            }
        }
    }
}

// ----------Main Section----------------
.main-page-wrapper {
    margin: 20px 0 20px;
}

.main-section {
    // background-color: $offWhite;
    background-color: #ccc;
}

// --------------Style & Life Cycle Section Division--------------

.style-hunter-heading {
    color: $commonPurple !important;
    font-weight: $boldFontWeight;
}

.top-section-div {
    @include borderGradientStyling();

    .top-section-nav {
        position: absolute;
        right: 0;
        font-size: 14px;
    }

}

.card-description {
    .style-box {
        color: $white;
        padding: 3px 5px 3px 30px;
        border-radius: 2px;
        margin: 0 10px 0 -20px;
    }

    .heading-style {
        background: -webkit-linear-gradient(180deg, rgba(238, 156, 255, 1) 0%, rgba(0, 128, 128, 1) 100%);
        @include textGradient();
    }

    .card-author-details {
        color: $authorTextColor;
        font-size: 12px;
    }

    .card-text {
        margin: 15px 0 25px;
        word-spacing: 1rem;
        line-height: 1.5;
        font-size: 14px;
    }
}

// --------------------Small Card Styling----------------

.row-wrapper {
    // display: flex;
    // justify-content: space-between;
    margin-top: 30px;
}

// -------------Extra Life Style Division Styling-------------

.life-style-heading {
    color: $commonRed !important;
    font-weight: $boldFontWeight;
}

.card-description-2 {

    .heading-style {
        background: -webkit-linear-gradient(180deg, rgba(255, 31, 38, 1) 0%, rgba(0, 128, 128, 1) 100%);
        @include textGradient()
    }
}

// ---------------------Life Style Small Cards--------------

.micro-row {
    // background-color: $white;
    margin: 20px 0 20px;
}

.micro-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 21px;

    .micro-img {
        width: 100px;
        height: 100px;
    }

    .micro-desc-wrapper {
        width: 200px;

        .micro-desc {
            line-height: 1.5;
            font-size: 14px;
            font-weight: $boldFontWeight;
            padding-bottom: 10px;
        }

        .micro-author {
            color: $authorTextColor;
            font-size: 10px;
        }
    }
}

// ----------------Celebrity Styling---------------

.celeb-heading {
    color: $commonPurple !important;
    font-weight: $boldFontWeight;
}

.celeb-micro-col {
    width: 300px;

    &:nth-child(1) {
        margin-top: 0;
    }

    .micro-img {
        width: 80px;
        height: 80px;
    }

    .micro-desc-wrapper {
        .micro-desc {
            line-height: 1.2
        }
    }
}

// ----------------Videos Styling---------------

.videos-heading {
    color: $commonBlue !important;
    font-weight: $boldFontWeight;
}

// ------------Social Styling---------

.social-row {
    margin-top: 20px;

    .social-wrapper {
        padding-top: 15px;
        color: $white;

        .social-col {
            // width: 115px;
            height: 140px;
            display: flex;
            align-items: center;
            justify-content: center;

            .social-details-wrapper {
                width: 70%;
                text-align: center;
                box-shadow: 0px 0px 0px transparent;
                border: 0px solid transparent;
                text-shadow: 0px 0px 0px transparent;

                span {
                    display: inline-block;
                }

                .social-icon {
                    font-size: 36px;
                }

                .social-view {
                    font-size: 24px;
                    font-weight: $boldFontWeight;
                    padding: 15px 0;
                }

                .social-title {
                    font-size: 20px;
                }
            }
        }
    }
}

// -----------------Popular Post---------------

.post-column {
    background-color: $white;
    margin: 20px 0 0;
}

.post-upper-wrapper {
    margin: 0 auto;

    .post-heading {
        font-weight: $boldFontWeight;
        margin: 20px 0 20px;
    }

    .post-image {
        color: $white;
        position: relative;
        display: flex;
        justify-content: center;

        .post-details-wrapper {
            position: absolute;
            bottom: 10%;
            width: 90%;

            .post-style {
                font-size: 12px;
                padding: 3px 5px;
                margin-right: 20px;
            }

            .post-view {
                font-size: 12px;
            }

            .post-description {
                margin: 10px 0 10px;
            }

            .post-author {
                font-size: 12px;
            }
        }
    }
}

.post-micro-data {
    margin: 20px 0;
}

// -------------Amazing Shots Styling-------------

.shots-section {
    color: $white;

    .shots-wrapper {
        margin: 20% 0;
        display: flex;
        justify-content: center;
    }

    .shots-details {
        width: 80%;
        height: 100%;
        position: relative;
        text-align: center;

        .shots-title {
            position: absolute;
            top: 10%;
            font-size: 36px;
        }

        .shots-desc {
            position: absolute;
            bottom: 20%;
            font-size: 28px;
        }
    }
}

// ---------------Footer Main Styling------------

.footer-container {
    background-color: #090e1d;
    color: $white;
}

// ---------------Footer Top----------------

.foot-top-wrapper {
    padding: 30px 0;

    .foot-top-heading {
        font-size: 2.25em;
        font-weight: $boldFontWeight;

        button {
            color: $white;
        }
    }

    .foot-top-list {
        color: #8f95aa;
        font-size: 14px;
        ;
        padding-top: 20px;
    }
}

// ---------------------Footer Middle------------

.foot-mid-main {
    color: #8f95aa;

    .foot-left-col {
        .footer-description {
            line-height: 1.5;
        }

        .foot-social-icons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-top: 5%;
            width: 90%;

            li {
                color: $white;
                padding: 0 5%;
                height: 45px;
                display: flex;
                align-items: center;
            }
        }

    }

    .foot-mid-list-wrapper {

        li {
            line-height: 1.8;
            font-size: 0.95em;
        }
    }
}

// ---------------Bottom Footer-----------
.foot-bottom {
    padding: 20px 0;
    font-size: 10px;

    .foot-bottom-title {
        span {
            color: #f44336;
            text-decoration: underline;
        }

    }

    .foot-bottom-detail {
        text-align: right;
        line-height: 1.5;
    }
}

// -----------------Media Query--------------

@media only screen and (max-width: 600px) {
    // ------------Header Navbar Styling------------

    .upper-header {
        display: none;
    }

    .navbar-search {
        margin: 0;
    }

    // ------------Bannar Styling----------

    .upper-banner {
        height: 450px !important;

        .details-wrapper {
            padding-left: 10px !important;
            max-width: 300px !important;

        }
    }

    // -------------Commamon Navigation Styling------------
    .top-section-div {
        padding: 0 !important;

        .top-section-nav {
            font-size: 12px !important;
        }
    }

    // ----------------Small Cards Styling----------
    .row-wrapper {
        .small-cards {
            margin-top: 20px;
        }
    }

    // -------------CeleBrity Micro Columns------------

    .micro-cards {
        margin: 20px 0;
        padding: 0 25px;
    }

    // ------------Social Styling-----------

    .social-row {
        display: none;
    }

    // ---------------Foot Top---------
    .foot-top-wrapper {
        text-align: center;

        .foot-nav {
            // font-size: 20px !important;
            padding: 10px 0;
        }
    }

    // -----------Footer Middle----------

    .foot-left-col {
        text-align: center;

        .foot-social-icons {
            text-align: center;
            margin: 0 auto;
        }
    }

    .foot-mid-list-wrapper {
        display: none;
    }

    // ----------Footer Bottom--------

    .foot-bottom-title {
        text-align: center;
    }

    .foot-bottom-detail {
        text-align: center !important;
    }
}

// @media only screen and (min-width:376px) and (max-width: 768px) { 
    
//     .description {
//         font-size: 14px !important;
//     }
//     .upper-header-links {
//         font-size: 14px !important;
//     }

//     .micro-desc-wrapper {
//         .micro-desc {
//             font-size: 10px !important;
//         }
//     }

//     .heading-style {
//         font-size: 14px !important;
//     }

//     .shots-wrapper {
//         height: 300px !important;
//         .shots-title {
//             font-size: 28px !important;
//         }
//         .shots-desc {
//             font-size: 22px !important;
//         }
//     }

//     .social-row {
//         display: none;
//     }

//     .footer-description {
//         line-height: 1.0 !important;
//     }

//     .card-text {
//         line-height: 1.0 !important;
//     }

//     .micro-img {
//         height: 65px !important;
//         width: 65px !important;
//     }
//     .micro-col {
//         width: 210px !important;
//     }
// }

// @media only screen and (max-width: 1024px) {

//     // -----------Upper Banner--------
//     .upper-banner-wrapper {
//         .upper-banner {
//             .details-wrapper {
//                 padding: 0;
//             }
//         }
//     }

//     // ----------Social Stying------
//     .social-col {
//         height: 120px !important;

//         .social-icon {
//             font-size: 28px !important;
//         }

//         .social-view {
//             font-size: 18px !important;
//         }

//         .social-title {
//             font-size: 16px !important;
//         }
//     }

//     // -----------Common Description Class------------

//     .common-desc {
//         padding-left: 20px;
//     }

//     // -------Common Author-------

//     .common-author {
//         padding-left: 20px;
//     }

//     // ----------Popular Post-----------
//     .post-column {
//         display: none;
//     }

// }