$white: #fff;
$authorTextColor: #979aa4;
$commonRed: #f44f43;
$commonPurple: #8a3ab9;
$commonBlue: #2737a0;
$offWhite: #f5f5f5;
$boldFontWeight: 600;

:root {
    font-size: 16px;
}

@mixin textGradient {
    margin: 10px 0 10px;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin borderGradientStyling {
    border-bottom: 4px solid;
    border-image: linear-gradient(270deg, rgba(255, 69, 69, 1) 0%, rgba(0, 128, 128, 1) 100%);
    border-image-slice: 1;
    margin-bottom: 20px;
}

* {
    box-sizing: border-box;
}

button {
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    background-color: inherit;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

// -------------------Header Styling----------------

.navcontent {
    color: white !important;
    font-weight: 100;
    font-size: 15px;
}

.primarynav {
    .navbardata {
        font-size: 15px;
        color: #767676;

        a {
            color: #767676;
            padding: 10px;

            &:hover {
                background: white;
                color: #020202;
            }
        }

        i,
        span {
            font-size: 17px;

            &:hover {
                color: white;
            }
        }
    }
}

.lower-header {
    background: white;
    padding: 0px;

    .navbardata {
        font-size: 15px;

        a {
            color: #090E1D;
            padding: 25px;

            &:hover {
                background: #1A0E36;
                color: white;
            }
        }
    }
}

.icons {

    .fab,
    .far {
        color: white;
        font-size: 16px;
    }

    span {
        color: white;
        font-size: 12px;
    }
}

// -------------------Banner Styling----------------
.upper-banner-wrapper {
    color: $white;
    width: 100%;
    margin: 0;
    position: relative;

    .upper-banner {
        height: 550px;
        background-size: cover;
        background-repeat: no-repeat;

        .details-wrapper {
            position: absolute;
            bottom: 15%;
            max-width: 400px;
            padding-left: 30px;
            font-size: 0.875rem;

            .upper-banner-style-type {
                margin-right: 10px;
                padding: 2px 5px;
                font-size: 0.75rem;
                border-radius: 5px;
            }

            .views {
                font-size: 0.75rem;

                .eye-icon {
                    padding: 0 5px 0;
                }
            }

            .description {
                font-size: 1.125rem;
                margin: 20px 0 10px;
            }

            .author-details {
                font-size: 0.75rem;
            }
        }
    }
}

// ----------Main Section----------------
.main-page-wrapper {
    margin: 20px 0 20px;
}

.main-section {
    // background-color: $offWhite;
    background-color: #ccc;
}

// --------------Style & Life Cycle Section Division--------------

.style-hunter-heading {
    color: $commonPurple !important;
    font-weight: $boldFontWeight;
}

.top-section-div {
    @include borderGradientStyling();

    .top-section-nav {
        position: absolute;
        right: 0;
        font-size: 0.875rem;
    }

}

.card-description {
    .style-box {
        color: $white;
        padding: 3px 5px 3px 30px;
        border-radius: 2px;
        margin: 0 10px 0 -20px;
    }

    .heading-style {
        background: -webkit-linear-gradient(180deg, rgba(238, 156, 255, 1) 0%, rgba(0, 128, 128, 1) 100%);
        @include textGradient();
    }

    .card-author-details {
        color: $authorTextColor;
        font-size: 0.75rem;
    }

    .card-text {
        margin: 15px 0 25px;
        word-spacing: 1rem;
        line-height: 1.5;
        font-size: 0.875rem;
    }
}

// --------------------Small Card Styling----------------

.row-wrapper {
    margin-top: 30px;
}

// -------------Extra Life Style Division Styling-------------

.life-style-heading {
    color: $commonRed !important;
    font-weight: $boldFontWeight;
}

.card-description-2 {

    .heading-style {
        background: -webkit-linear-gradient(180deg, rgba(255, 31, 38, 1) 0%, rgba(0, 128, 128, 1) 100%);
        @include textGradient()
    }
}

// ---------------------Life Style Small Cards--------------

.micro-row {
    margin: 20px 0 20px;
}

.micro-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 21px;

    .micro-img {
        width: 100px;
        height: 100px;
    }

    .micro-desc-wrapper {
        width: 200px;

        .micro-desc {
            line-height: 1.5;
            font-size: 0.875rem;
            font-weight: $boldFontWeight;
            padding-bottom: 10px;
        }

        .micro-author {
            color: $authorTextColor;
            font-size: 0.625rem;
        }
    }
}

// ----------------Celebrity Styling---------------

.celeb-heading {
    color: $commonPurple !important;
    font-weight: $boldFontWeight;
}

.celeb-micro-col {
    width: 300px;

    &:nth-child(1) {
        margin-top: 0;
    }

    .micro-img {
        width: 80px;
        height: 80px;
    }

    .micro-desc-wrapper {
        .micro-desc {
            line-height: 1.2
        }
    }
}

// ----------------Videos Styling---------------

.videos-heading {
    color: $commonBlue !important;
    font-weight: $boldFontWeight;
}

// ------------Social Styling---------

.social-col {
    color: $white;
    padding: 0 15px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    .social-wrapper {
        text-align: center;
        width: auto;
        height: auto;
        max-width: 106px;
        margin-top: 15px;
        span {
            display: block;
        }
        .icon {
            font-size: 2rem;
            padding: 30px 0;
        }
        .view {
            font-size: 1.5rem;
        }
        .title {
            padding: 5px 0;
        }
    }
}

// -----------------Popular Post---------------

.post-column {
    background-color: $white;
    margin: 20px 0 0;
}

.post-upper-wrapper {
    margin: 0 auto;

    .post-heading {
        font-weight: $boldFontWeight;
        margin: 20px 0 20px;
    }

    .post-image {
        color: $white;
        position: relative;
        display: flex;
        justify-content: center;

        .post-details-wrapper {
            position: absolute;
            bottom: 10%;
            width: 90%;

            .post-style {
                font-size: 0.75rem;
                padding: 3px 5px;
                margin-right: 20px;
            }

            .post-view {
                font-size: 0.75rem;
            }

            .post-description {
                margin: 10px 0 10px;
            }

            .post-author {
                font-size: 0.75rem;
            }
        }
    }
}

.post-micro-data {
    margin: 20px 0;
}

// -------------Amazing Shots Styling-------------

.shots-section {
    color: $white;

    .shots-wrapper {
        margin: 20% 0;
        display: flex;
        justify-content: center;
    }

    .shots-details {
        width: 80%;
        height: 100%;
        position: relative;
        text-align: center;

        .shots-title {
            position: absolute;
            top: 10%;
            font-size: 2.25rem;
        }

        .shots-desc {
            position: absolute;
            bottom: 20%;
            font-size: 1.75rem;
        }
    }
}

// ---------------Footer Main Styling------------

.footer-container {
    background-color: #090e1d;
    color: $white;
}

// ---------------Footer Top----------------

.foot-top-wrapper {
    padding: 30px 0;

    .foot-top-heading {
        font-size: 2.25em;
        font-weight: $boldFontWeight;

        button {
            color: $white;
        }
    }

    .foot-top-list {
        color: #8f95aa;
        font-size: 0.875rem;
        padding-top: 20px;
    }
}

// ---------------------Footer Middle------------

.foot-mid-main {
    color: #8f95aa;

    .foot-left-col {
        .footer-description {
            line-height: 1.5;
        }

        .foot-social-icons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-top: 5%;
            width: 90%;

            li {
                color: $white;
                padding: 0 5%;
                height: 45px;
                display: flex;
                align-items: center;
            }
        }

    }

    .foot-mid-list-wrapper {

        li {
            line-height: 1.5;
            font-size: 0.75rem;
        }
    }
}

// ---------------Bottom Footer-----------
.foot-bottom {
    padding: 20px 0;
    font-size: 0.625rem;

    .foot-bottom-title {
        span {
            color: #f44336;
            text-decoration: underline;
        }
    }

    .foot-bottom-detail {
        text-align: right;
        line-height: 1.5;
    }
}

// -----------------Media Query--------------

@media only screen and (max-width: 600px) {
    // ------------Header Navbar Styling------------

    .upper-header {
        display: none;
    }
    .navbar-search {
        margin: 0;
    }

    // ------------Bannar Styling----------

    .upper-banner {
        height: 450px !important;

        .details-wrapper {
            padding-left: 10px !important;
            max-width: 300px !important;

        }
    }

    // -------------Commmon Navigation Styling------------
    .top-section-div {
        padding: 0 !important;

        .top-section-nav {
            font-size: 0.75rem !important;
        }
    }

    // ----------------Small Cards Styling----------
    .row-wrapper {
        .small-cards {
            margin-top: 20px;
        }
    }

    // -------------CeleBrity Micro Columns------------

    .micro-cards {
        margin: 20px 0;
        padding: 0 25px;
    }

    // ------------Social Styling-----------


    // ---------------Foot Top---------
    .foot-top-wrapper {
        text-align: center;

        .foot-nav {
            font-size: 1.25rem !important;
            padding: 10px 0;
        }
    }

    // -----------Footer Middle----------

    .foot-left-col {
        text-align: center;

        .foot-social-icons {
            text-align: center;
            margin: 0 auto;
        }
    }

    .foot-mid-list-wrapper {
        display: none;
    }

    // ----------Footer Bottom--------

    .foot-bottom-title {
        text-align: center;
    }

    .foot-bottom-detail {
        text-align: center !important;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) { 

    .description {
        font-size: 0.875rem !important;
    }
    .upper-header-links {
        font-size: 0.875rem !important;
    }

    .micro-desc-wrapper {
        .micro-desc {
            font-size: 0.625rem !important;
        }
    }

    .heading-style {
        font-size: 0.875rem !important;
    }

    .shots-wrapper {
        height: 300px !important;
        .shots-title {
            font-size: 1.75rem !important;
        }
        .shots-desc {
            font-size: 1.375rem !important;
        }
    }

    .footer-description {
        line-height: 1.0 !important;
    }

    .card-text {
        line-height: 1.0 !important;
    }

    .micro-img {
        height: 65px !important;
        width: 65px !important;
    }
    .micro-col {
        width: 210px !important;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    // -----------Upper Banner--------
    .upper-banner-wrapper {
        .upper-banner {
            .details-wrapper {
                padding: 0;
            }
        }
    }

    // ----------Social Stying------
    .social-col {
        .social-wrapper {
            max-width: 85px;
            .icon {
                font-size: 1.75rem !important;
            }
    
            .view {
                font-size: 1.125rem !important;
            }
    
            .title {
                font-size: 1rem !important;
            }
        }
    }

    // -----------Common Description Class------------

    .common-desc {
        padding-left: 20px;
    }

    // -------Common Author-------

    .common-author {
        padding-left: 20px;
    }

    // ----------Popular Post-----------
    .post-column {
        display: none;
    }
}